# ignore system files
.DS_Store
thumbs.db
__MACOSX

# Ignore Composer stuff
/vendor/

# Ignore Concrete stuff
/web/concrete
/web/application/cache
/web/application/files
/web/application/languages
/web/application/config/database.php
/web/application/config/generated_overrides/*

# Ignore developer stuff
/.idea
